<template name="ApplicationLayout">
    <header>
        <title>trivia-crack</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </header>

    <body>
        <header>
            <nav role="navigation">
                <div class="nav-wrapper container"></div>
                <a href="/" id="logo-container" class="brand-logo">Trivia Rumble</a>
                <ul class="right">
                    <li><a href="/search"><i class="material-icons left">search</i>Find Friends</a></li>
                    <li>{{> loginButtons align=right}}</li>
                </ul>
            </nav>
        </header>
        <main>
            {{> yield}}
        </main>
        <footer class="page-footer">
            <div class="page-footer">
                <div class="container">
                    @ 2016 Armen Is Sexy

                </div>
            </div>

        </footer>

    </body>
</template>